.loading-indicator {
  background-color: var(--background-color);
  border: 0.2rem solid var(--border-color);
  border-radius: 0.1rem;
  bottom: 2rem;
  padding: 1rem 1.5rem;
  position: fixed;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator:before {
  animation: spinn 2s linear infinite;
  border-color: var(--border-hover-color) transparent;
  border-radius: 99rem;
  border-style: solid;
  border-width: 0.25rem;
  content: '';
  display: inline-block;
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}
